.container
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= message
  
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div
      = f.label :avatar, 'avatar'
    %div
      = f.file_field :avatar
    %div
      = f.label :nickname, 'nickname'
    %div.field
      = f.text_field :nickname, class: 'form'
    %div
      = f.label :introduction, 'introduction'
    %div.field
      = f.text_area :introduction, class: 'form'
    
    = f.submit 'submit', class: 'btn'


