- content_for :header do
  .header_left
    = image_tag 'icon_back'
  .header_center
    .account_name
      = user.account
  .header_right#accounts-show{data: {id: user.id}}
    - if current_page?(account_path(user.id))
      .follow_btn
        .unfollow.hidden
          %p Unfollow
        .follow.hidden
          %p Follow
    - if current_page?(root_path)
      = link_to 'ログアウト', destroy_user_session_path, data: {method: 'delete'}
.container
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    = f.label :image do
      .profile_photo
        = image_tag user.avatar_image, class: 'avatar'
        - if current_page?(root_path)
          = f.file_field :image, class: 'uploader', style: 'display:none'
  .count
    .count_item
      %span= user.post_count
      %p posts
    .count_item 
      %span
        .follower_count
      - if current_page?(root_path)
        %span= user.follower_count
      %p followers
    .count_item
      %span= user.following_count 
      %p following

= javascript_pack_tag 'profile'
- if current_page?(account_path(user.id))
  = javascript_pack_tag 'follows'