!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title InstaApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=devise-width, initial-scale=1.0", :name => "viewport"}/
  %body
    %header.header
      - if current_page?(root_path)
        .header_left
          = image_tag 'icon_back'
        .header_right
          .account_name
            = current_user.account
      -# - if current_page?(controller: 'comments', action: 'index')
      -#   .header_left
      -#     = image_tag 'icon_back'
      -#   .header_right
      -#     = Comment
      - if current_page?(controller: 'articles', action: 'index')
        .header_left
          = image_tag 'photo-camera'
    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    = yield
